/* standard elements */
html {
    background-color: whitesmoke;
    margin-left: 2em;
    margin-right: 2em;
    font-family: Didot, serif;
    font-size: 100%
}

/* h1 */
h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* footer */
footer {
    margin-top: 4rem;
    border-top: 0.1rem;
    border-top-style: solid; 
    border-color: slategrey;
    font-size: 0.8rem;
}

/* citation */
.citation {
    margin-left: 1em;
    font-size: 90%;
    font-style: italic;
}

/* img */
img {
    margin: 0.5rem 2rem;
}

/* section and paragraph */
section, p {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* navigation element */
nav {
    background-color: lightsteelblue;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0.5em 1em;
}

nav ul li:hover {
    background-color: lightskyblue;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
